.googleParser {
  font-size: 18px;

  a {
    color: var(--theme-main);
  }
}

.title {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 20px;
}

.heading1 {
  font-size: 32px;
  font-weight: 900;
  margin: 0 0 5px;
}

.heading2 {
  font-size: 24px;
}

.heading3 {
  font-size: 18px;
  color: var(--gray4);
}

.horizontalLine {
  border: 1px solid var(--theme-accent);
  opacity: 0.4;
  margin: 0;
  width: 100%;
  display: block;
}

.bold {
  font-weight: bold;
  color: var(--off-white);
}

.underline:has(:not(a.button)) {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.parsedTable {
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 4px 10px;
    border: 1px solid var(--gray2);
    vertical-align: top;
  }
}

.embededImage {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-right: 20px;
  line-height: 0;

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}

a.button {
  border-radius: 20px;
  background-color: var(--theme-main);
  color: var(--gray1);
  text-decoration: none !important;
  padding: 7px 30px;
  transition: 0.1s opacity;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.list {
  ul,
  ol {
    padding-left: 20px;
  }
}
