.googleParser {
  a {
    color: var(--link);
  }
}

.title {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 20px;
}

.heading1 {
  font-size: 32px;
  font-weight: 900;
  margin: 0 0 5px;
}

.heading2 {
  font-size: 24px;
}

.heading3 {
  font-size: 18px;
  color: var(--gray4);
}

.embeddedImage {
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;

  img.embeddedImageSrc {
    border: 3px solid var(--primary) !important;
    border-radius: 10px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.bold {
  font-weight: bold;
  color: var(--off-white);
}

.underline:has(:not(a.button)) {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.parsedTable {
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 4px 10px;
    border: 1px solid var(--gray2);
    vertical-align: top;
  }
}

a.button {
  border-radius: 20px;
  background-color: var(--theme-accent);
  color: var(--gray1);
  text-decoration: none !important;
  padding: 7px 15px;
  transition: 0.1s opacity;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
