.navigation {
  padding: 50px 30px 0;
  background-color: var(--theme-main);
  width: calc(var(--navbar-width) - 60px);
  height: 100vh;
  position: fixed;

  a {
    color: rgb(23, 86, 182);
    text-decoration: underline;
  }
}

.subHeading {
  margin-left: 20px;
}

.active {
  a {
    color: gray;
    text-decoration: none;
  }
}
