.main {
  text-align: center;
  padding: 50px;
  text-align: left;
  max-width: 960px;
  margin-left: var(--navbar-width);
}

@media screen and (max-width: 800px) {
  .main {
    padding: 70px var(--mobile-padding) var(--mobile-padding);
    margin-left: 0;
  }
}
